.title {
    margin-bottom: 2.5rem;
}

.card-box {
    width: 40%;
    margin-bottom: 2.5rem;
}

.control-box{
    display: flex;
    gap: 20px;
    
}

.input-mode {
    width: 400px;
}

.latitude-longitude-lines{

    display: flex;
    gap: 20px;

}

.geography-lines{
    display: flex;
    gap:5px;
}

.input-mode{
    margin-bottom: 10px;
    height: 30px;
}

.btn-primary{
    height: 30px;
}
